<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="/public/me.jpg"><img src="/public/me.jpg" /></a>
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead" dir="ltr">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a>درباره ی من</a><br />
      <a href="mailto:salar.mgh@gmail.com">Email</a>
      <a href="https://twitter.com/salarmgh">Twitter</a>
      <a href="https://instagram.com/salarmgh">Instagram</a>
      <a href="https://github.com/salarmgh">Github</a>
      <a href="http://salarmgh.github.io/feed.xml">RSS</a>
{% comment %}
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">خانه</a>

      
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      

      {% assign pages_list = site.pages %}
      <a class="sidebar-nav-item" href="{{ site.github.repo }}">درباره ی من</a>
{% endcomment %}
    </nav>

    <p class="copyright">&copy; {{ site.time | date: '%Y' }}. تمامی حقوق محفوظ است.</p>
  </div>
</div>
