<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <a href="/public/me.jpg"><img src="/public/me.jpg" /></a>
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead" dir="ltr">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a href="http://salarmgh.github.io/about/">درباره ی من</a><br />
      <a href="mailto:salar.mgh@gmail.com">Email</a>
      <a href="https://twitter.com/salarmgh">Twitter</a>
      <a href="https://instagram.com/salar.mgh">Instagram</a>
      <a href="https://github.com/salarmgh">Github</a>
      <a href="http://salarmgh.github.io/feed.xml">RSS</a>
    </nav>

    <p class="copyright" dir="ltr">&copy; {{ site.time | date: '%Y' }}. <a href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0.</a> <br />
.بازنشر با ذکر نام و لینک به منبع مجاز است
</p>
  </div>
</div>
